@page "/users"

<section id="">
    <div class="container">
        <p>Текущее время: @CurrentTime</p>
        <p>Текущая дата: @CurrentDate</p>

        <h1>Пользователи</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">RoleId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in result)
                {
                    <tr>
                        <th scope="row">@user.UserId</th>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.Password</td>
                        <td>@user.RoleId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


@code {
    public class User
    {
        public int UserId { get; set; }
        public string Username { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public int? RoleId { get; set; }
    }

    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://yanko-web-api-with-db.onrender.com/");

        result = await client.GetFromJsonAsync<User[]>("api/UsersController1");

        return;
    }
}
